h1 {
	text-align:center;
}

#image
{
float:left; 
width:55%;
 height:800px; 
 border-style:dashed; 
}

#selected
{
float:right; 
width:40%; 
height:700px; 
border-style:dashed;
}

img 
{
width: 200px;
height: 200px;
}